/* client/src/styles/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f0f2f5; /* Light background for the app */
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}